<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fatemeh_pc.store_application">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".soal_activity"
            android:label="سوالات متداول"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".vorud_activity"
            android:label="ورود"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".about_activity"
            android:label="درباره ما"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".category_activity"
            android:label="دسته بندی محصولات"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".sabad_activity"
            android:label="سبد خرید"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".vizheh_activity"
            android:label="پیشنهاد ویژه مبل پلاس"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".search_activity"
            android:label="جست و جو"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity_sabtenam"
            android:label="ثبت نام در مبل پلاس"
            android:parentActivityName=".vorud_activity" />
        <activity
            android:name=".addfurniture_activity"
            android:label="افزودن مبل" />
        <activity
            android:name=".product_activity"
            android:label="مبل پلاس" />
        <activity
            android:name=".test_of_db"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".LoadProducts"></activity>
    </application>

</manifest>