<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fatemeh_pc.store_application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".soal_activity"
            android:label="سوالات متداول" />
    <activity
            android:name=".vorud_activity"
            android:label="ورود" />
        <activity
            android:name=".about_activity"
            android:label="درباره ما" />
        <activity
            android:name=".category_activity"
            android:label="دسته بندی محصولات" />
        <activity
            android:name=".sabad_activity"
            android:label="سبد خرید" />
        <activity
            android:name=".vizheh_activity"
            android:label="پیشنهاد ویژه مبل پلاس" />
        <activity android:name=".search_activity"
            android:label="جست و جو"/>
        <activity android:name=".activity_sabtenam"
            android:label="ثبت نام در مبل پلاس"></activity>
    </application>

</manifest>